*.pyc
.vscode
*.swp
log/
top_tmp/
.idea/
tools/news/cache/
tools/news/logs/
.ropeproject
src/feeds_notification/logs/
testdir/
**/.cache/
storage/user_1/
storage/account_1/
storage/token_1/
config/pass_file
tools/docker_run_test.sh

.python-version
.DS_Store

htmlcov/
.coverage
.coverage.*
elete_old
data/
**/*_test.sh
*_test.sh

credential.py